.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  float:right;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.auto-clicker{
  background: lightblue;
  cursor: pointer;
}
.increase-click-value{
  background: lightgreen;
  cursor: pointer;
}

.diamond-cultivation{
  background: lightyellow;
  cursor: pointer;
}
.diamond-hunter{
  background: pink;
  cursor: pointer;
}

section {
  width: 10rem;
  height: 10rem;
  opacity: 1;
  transition: all 300ms;
}

.hide {
  opacity: 0;
}